body {
    font-family: Poppins, sans-serif;
    margin: 0;
    background: #0e0e0f;
    color: #fff;
}

header {
    background: #111;
    padding: 15px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo { font-size: 24px; font-weight: bold; }

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #ccc;
    font-size: 16px;
}

.nav-links a.active, .nav-links a:hover {
    color: #00eaff;
}

.hero {
    text-align: center;
    margin-top: 130px;
}

.hero span { color: #00eaff; }

.btn {
    margin-top: 20px;
    padding: 12px 24px;
    background: #00eaff;
    color: #111;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 60px;
    text-align: center;
}

.project-card {
    background: #1a1a1c;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    margin-top: 50px;
}
